

.card {
    width: 320px;
    height: 550px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    box-shadow: 2px 4px 8px black;
    border-radius: 5px;
    transition: 2s;

}

.desc {
    padding: 0 5px 0 5px;
}

img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card:hover {
    box-shadow: 0 8px 16px yellow;
    box-shadow: 0 8px 16px goldenrod;
}