#four {
    transform: skew(30deg);
    /* transform: skew(90deg); */
    transform: skew(-45deg);
    transform: skew(-90deg);
    transform: skew(180deg);
    transform: skew(105deg);

}
#five {
    transform: rotate(30deg);
    transform: translateX(150px);
}
