div {
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;

}

#absolute {
    background-color: yellow;
    top: 100px;
    left: 40px;
    position: absolute;
}