#container {
    height: 100px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: baseline;
}

h1{
    text-align: center;
    color: rgb(205, 130, 40);
}

#cantainer div {
    height: 50px;
    width: 30px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}


#align1 {
    height: 100px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: baseline;
}

h1 {
    text-align: center;

}

#alignitems1 div {
    height: 50px;
    width: 30px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}